<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<p>Список людей:</p>
<!--<div th:each="user : ${allUsers}">-->
<!--    <a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>-->
<!--</div>-->

<table>
  <thead>
  <tr>
<!--    <th scope="col">ID</th>-->
    <th scope="col">NAME</th>
    <th scope="col">AGE</th>
<!--    <th scope="col">Number</th>-->
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${allUsers}">
<!--    <td th:text="${user.id}"></td>-->
    <td>
            <a th:href="@{/{id}(id=${user.getId()})}" th:text="${user.getName()}">User</a>
      </td>
    <td th:text="${user.age}"></td>
<!--    <td th:text="${car.number}"></td>-->
  </tr>
  <br/>
  <hr/>
  <a href="/new">Create new user</a>
</body>
</html>